# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/xPlatAuction/.vs
/xPlatAuction/packages
/xPlatAuction/xPlatAuction/xPlatAuction/bin/Debug/netstandard2.0
/xPlatAuction/xPlatAuction/xPlatAuction/obj
/xPlatAuction/xPlatAuction/xPlatAuction.Android/obj
/xPlatAuction/xPlatAuction/xPlatAuction.Android/bin/Debug
/xPlatAuction/xPlatAuction.Backend/bin
/xPlatAuction/xPlatAuction.Backend/obj
/.vs
/xPlatAuction/xPlatAuction.UWP/bin/x86/Debug
/xPlatAuction/xPlatAuction.UWP/obj
*.mdf
/TestSetup/.vs/TestSetup/v16
/TestSetup/TestSetup/TestSetup/obj
/TestSetup/TestSetup/TestSetup/bin/Debug/netstandard2.0
/TestSetup/TestSetup/TestSetup.Android/obj
/TestSetup/TestSetup/TestSetup.iOS/bin
/TestSetup/TestSetup/TestSetup.iOS/obj
/TestSetup/.vs/TestSetup/DesignTimeBuild
/TrainingRooms/.vs/TrainingRooms/v16
/TrainingRooms/TrainingRooms/bin/Debug/netstandard2.0
/TrainingRooms/TrainingRooms/obj
/TestSetup/TestSetup/TestSetup.Android/bin/Debug
/TrainingRooms/TrainingRooms.Android/obj
